@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.portada-detallePropiedades {
   background-image: url('../img/img-portadas/Cordoba.jpeg');
    background-size: cover;
    height: 300px;
    position: relative;
    z-index: 0;
    background-attachment: fixed;
}

/* Ocultar barra de desplazamiento vertical en navegadores basados en WebKit */
.carousel-thumbnails-container {
    display: flex;
    height: 383px;
    width: 300px; /* Ancho fijo del contenedor */
    overflow-y: scroll;
    overflow-x: hidden; /* Ocultar la barra de desplazamiento horizontal */
    white-space: nowrap; /* Evitar que las miniaturas se envuelvan */
    scrollbar-width: none; /* Ocultar barra de desplazamiento en Firefox */
}

.carousel-thumbnails-container::-webkit-scrollbar {
    width: 0; /* Ocultar barra de desplazamiento vertical */
}

/* Opcional: Ocultar barra de desplazamiento horizontal */
.carousel-thumbnails-container::-webkit-scrollbar-horizontal {
    height: 0;
}


.carousel-thumbnail-item {
    width: calc(33.33% - 10px); /* Ancho para mostrar tres miniaturas por fila */
    min-width: 100px; /* Ancho máximo para las miniaturas */
    cursor: pointer;
    flex-shrink: 0; /* Evitar que las miniaturas se achiquen */
    transition: border-color 0.3s;
}

.carousel-thumbnail-item img {
    width: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    height: 100%;
}

.carousel-thumbnail-item:hover img {
    border-color: #002244; /* Color del borde al hacer hover */
    
}

.carousel-thumbnail-item.active img {
    border: 2px solid #007bff; /* Ajusta el color según tu diseño */
}

@media (min-width: 992px) {
    .carousel-thumbnails {
        max-height: 100px; /* Ajustar la altura máxima para pantallas grandes */
    }

    .carousel-thumbnail-item {
        width: calc(100% - 10px); /* Ancho para mostrar dos miniaturas por fila */
    }
}

.carousel-item img {
    height: 383px; /* Ajusta la altura como desees */
    width: auto; /* Ancho automático */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
}

.title-propertie{
    font-size: 25px;
    font-weight:700;
}

.title-propertie p{
    background-color: #002244;
    color: #fff;
    width: 150px;
    text-align: center;
}
.property-details {
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.property-details h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.property-details .property-price {
    font-size: 20px;
    margin-bottom: 20px;
}

.property-details .property-features {
    margin-bottom: 20px;
}

.property-details .property-features p {
    margin-bottom: 5px;
}

.property-description {
    margin-top: 30px;
}

.property-description p {
    line-height: 1.6;
    margin-bottom: 15px;
}


.caracteristicas-propiedades {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.column {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.column p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

.column strong {
    color: #002244;
}

legend {
    font-size: 16px;
    color: #002244;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}


.descripcion_propiedades {
    margin-top: 5%;
    margin-bottom: 1%;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.descripcion_propiedades p {
    margin-bottom: 10px;
}

.descripcion_propiedades ul {
    list-style-type: disc;
    padding-left: 20px;
}


/*boton ir atras*/
.boton-atras {
    display: flexbox; /* Cambiado a inline-block */
    text-align: center;
    background-color: #002244;
    color: #fff;
    padding: 5px 20px; /* Ajusta el padding según necesites */
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.boton-atras:hover {
    background-color: #C9C2B2;
}
