@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

main{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.portada-invertir {
  background-image: url('../img/img-portadas/portada_invertir01.png');
  background-size: cover;
  height: 650px;
  position: relative;
  z-index: 0;
  background-attachment: fixed;
}

/* TURNERO */
.headTurnero {
  text-align: left;
  margin-bottom: 50px;
}

.headTurnero h4 {
  font-size: 24px;
  color: #002244;
}

.headTurnero h5 {
  font-size: 20px;
  color: #002244;
}


.social-icons {
  font-size: 24px;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
}