main{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.portada-invertir {
  background-image: url('/brucker2.0/img/img-portadas/portada-invertir.jpg');
  background-size: cover;
  height: 650px;
  position: relative;
  z-index: 0;
  background-attachment: fixed;
}

.portada-invertir h1{
  color: #002244;
}



.title-invertir {
  color: #938282;
  margin-top: 30px;
}

.title-invertir strong {
  color: #002244;
}

.subtitle-invertir {
  color: #002244;
}

