@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Baloo 2', sans-serif;
    background-color: #f8f9fa;
  }

  .navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .navbar-brand img {
    max-height: 60px;
  }
  
 /* Estilos para el contenedor del filtro */
 .filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
  background-image: url('//img/img-cards/card-comprar.png'); /* Ruta de la imagen de fondo */
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad del fondo */
}

/* Estilos para el contenido del filtro */
.filter-content {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Opacidad del contenido */
  border-radius: 10px; /* Bordes redondeados para el contenido */
}
  


  .card {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  

.card-img-custom {
  width: 100%; /* Ajusta el ancho de la imagen para que ocupe toda la tarjeta */
  height: 100%; /* Ajusta la altura de la imagen para que ocupe toda la tarjeta */
  object-fit: cover; /* Escala la imagen para que cubra toda la tarjeta */
  position: relative; /* Establece la posición relativa para que los elementos secundarios se posicionen correctamente */
}

.card-img-custom img {
  position: absolute; /* Establece la posición absoluta para que la imagen se superponga al fondo de la tarjeta */
  top: 0; /* Alinea la imagen en la parte superior de la tarjeta */
  left: 0; /* Alinea la imagen en la parte izquierda de la tarjeta */
  width: 100%; /* Ajusta el ancho de la imagen para que ocupe toda la tarjeta */
  height: 100%; /* Ajusta la altura de la imagen para que ocupe toda la tarjeta */
  object-fit: cover; /* Escala la imagen para que cubra toda la tarjeta */
  z-index: -1; /* Coloca la imagen detrás del contenido de la tarjeta */
}




  .card-body {
    padding: 20px;
  }
  
  .smaller-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}


  .property-details {
    margin-top: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
  }
  
  .property-details p {
    margin: 5px 0;
    display: flex;
    align-items: center;
  }
  
  .property-details p svg {
    margin-right: 8px;
  }
  
  .property-image img {
    width: 100%;
    height: auto;
  }
  
  .precio-propiedad {
    font-size: 1.5rem;
    color: #28a745;
    margin-top: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
  }
  
  .btn-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .btn-container .btn {
    background-color: #002244;
    border: none;
    color: #fff;
  }
  
  .footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 20px 0;
    text-align: center;
  }
  
  .social-icons {
    margin-top: 15px;
  }
  
  .social-icons li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-icons i {
    font-size: 1.5rem;
    color: #002244;
  }
  
  .whatsapp-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  .whatsapp-logo {
    display: flex;
    align-items: center;
  }
  
  .whatsapp-logo img {
    width: 50px;
    height: 50px;
  }
  